.nav-icons {
  display: flex;
  align-items: center;
}

.dark-mode-icon {
  font-size: 20px;
  color: white;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dark-mode-icon:hover {
  color: #cccccc;
}

nav {
  background: linear-gradient(to right, rgb(234, 110, 110), rgb(122, 147, 169));
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

nav.dark-mode {
  background: linear-gradient(to right, rgb(30, 30, 30), rgb(70, 70, 70));
}

.links {
  list-style-type: none;
  padding: 18px;
  display: inline-flex;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
}

.links a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

nav.dark-mode li {
  color: #cccccc;
}
