.container-navbar {
  display: flex; /* Usa flexbox para la disposición */
  justify-content: space-between; /* Espacia los elementos de forma equitativa */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px;
  background-color: #f58d8d;
  color: white;
}

.link-navbar {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.link-navbar li {
  margin-right: 20px;
}
