.footer {
  background: linear-gradient(to right, rgb(247, 177, 177), rgb(122, 147, 169));
  padding: 0px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  transition: background 0.3s ease;
}
