.footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(234, 110, 110), rgb(122, 147, 169));
  padding: 0px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}

.p {
  size: 40px;
}
